<div class="details-section" *ngIf="!author">
  Loading...
</div>
<div class="details-section" *ngIf="author">
  
    <img class="details-image"
         src="http://localhost:3003/sample-blm-images/authors/{{author.picture}}"/>
    
    <mat-card class="details-card">
      <mat-card-header>
        <mat-card-title>{{author.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{author.biography}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>share</mat-icon>
          Share
        </button>
      </mat-card-actions>
    </mat-card>
  </div>