<!-- Main navigation bar -->
<mat-toolbar color="primary">
  <button mat-button routerLink="/welcome">
    <mat-icon>library_books</mat-icon>
    Book Library Manager
  </button>
  <button mat-button routerLink="/search">
    <mat-icon>search</mat-icon>
    Search & Find
  </button>
  <button mat-button disabled>
    <mat-icon>build</mat-icon>
    Edit
  </button>
  <span class="tool-bar-space"></span>
  <button mat-button (click)="goToJEC()">
    <img src="../styles/assets/jec-logo-white.svg" width=28/>
    JEC on GitHub
  </button>
</mat-toolbar>

<!-- Angular router outlet -->
<div id="app-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- App footer -->
<footer id="app-footer">
  <p>&copy; My Book Library Manager 2017</p>
</footer>