<h1><mat-icon>search</mat-icon> Search & Find</h1>

<form *ngIf="resultLength === 0">
  <mat-form-field>
    <input matInput placeholder="Search for books"
                   type="search" [formControl]="token">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="doSearch()">
    <mat-icon>search</mat-icon>
  </button>
</form>

<mat-card class="example-card" *ngIf="resultLength !== 0">
  <mat-card-header>
    <mat-card-title>
      Search result for <strong>{{token.value}}</strong>
    </mat-card-title>
    <span class="tool-bar-space"></span>
    <mat-paginator [length]="resultLength"
                  [pageSize]="pageSize"
                  (page)="pageChange($event)">
    </mat-paginator>
    <button mat-mini-fab color="primary" (click)="resetSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="250px">
      <mat-grid-tile *ngFor="let book of books">
        <img src="http://localhost:3003/sample-blm-images/covers/{{book.cover}}"
             class="book-tile"
             alt="{{book.title}}"
             (click)="showDetails(book)">
          <mat-grid-tile-footer>
            <h3 mat-line>{{book.title}}</h3>
            <h4 mat-line>{{book.author.name}}</h4>
            <span><mat-icon>flag</mat-icon></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

